/* app css */

/** 

#687864 - olive
#31708e - sea blue
#5085a5 - blue with grey
#8fc1e3 - sky blue
#f7f9fb - whitish grey

*/


header {
  width: 100%;
  background-color: #31708e ;
}

h1 {
  font-size: 46px;
  padding: 20px;
  color: #f7f9fb;
}

h2 {
  font-size: 32px;
  color: #5085a5;
}

p {
  padding: 6px 0;
}

a {
  text-decoration: dashed;
  color: #5085a5;
}

figure {
  margin: 12px 0;
}